<% provide(:title, (t :add_league)) %>

<div class="hero-unit">
  <h4><%= t :add_league %></h4>
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@league) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="row-fluid">
          <div class="span8">
            <%= f.label (t :sport) %>
            <%= f.text_field :sport %>

            <%= f.label (t :weekday) %>
<%= f.collection_select(:weekday, (0..6).to_a, :to_i, :to_weekday, prompt: true) %>

            <%= f.label (t :max_number_of_players) %>
            <%= f.number_field :max_number_of_players, in: 1..100 %>
          </div>
          <div class="span4">
            <%= f.label (t :prize) %>
            <%= f.text_area :prize %>

            <%= f.label (t :description) %>
            <%= f.text_area :description %>
          </div>
        </div>


        <%= f.submit (t :create), class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

