<% provide(:title,@league.name) %>
<h2><%=@league.name%></h2>
<div class="row-fluid">

      <h3><%=(t :league_details)%></h3>
      <div class="row-fluid">
        <div class="span2">
          <b><%=(t :prize)%></b>
        </div>
        <div class="span10">
          <%=@league.prize%>
        </div>
      </div>
      <br><br>
      <div class="row-fluid">
        <div class="span2">
          <b><%=(t :description)%></b>
        </div>
        <div class="span10">
          <%=@league.description%>
        </div>
      </div>
      <br><br>
      <div class="row-fluid">
        <div class="span11">
          <div class="span4">
            <h3><%=(t :timetable)%></h3>
            <h4><%=(t :history)%></h4>
            <%= render 'meetings/meetings_table', meetings: @old_meetings %>
            <h4><%=(t :new_ones)%></h4>
            <%= render 'meetings/meetings_table', meetings: @new_meetings %>
          </div>
          <div class="span4">
            <h3><%=(t :table)%></h3>
          </div>
        </div>
      </div>
</div>
